@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// Variables
$primary-blue: #3497e4;
$primary-red: #ef1313;
$primary-white: #fff;
$primary-gray: #eee;
// Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

// Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background: rgba(255, 255, 255, 0.7);
  .logo {
    width: 100px;
    height: 80px;
  }
}

.navbar {
  min-width: 25rem;

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  .nav-link {
    text-decoration: none;
    color: #000000;
  }

  .nav-link:hover {
    color: $primary-blue;
  }
}

// Main
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 668px;
    img {
      width: 40%;
      border-radius: 12px;
    }
    .text {
      line-height: 4rem;
      h1 {
        font-size: 2.5rem;
        color: $primary-blue;
      }
      h3 {
        font-weight: 400;
      }
    }
  }

  #stats {
    // margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 668px;
    background: $primary-gray;
    img {
      width: 40%;
      border-radius: 12px;
    }
    .grid {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: stretch;
      justify-content: space-around;
      .row {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        i {
          font-size: 2rem;
        }
        .odd {
          color: $primary-blue;
        }
        .even {
          color: $primary-red;
        }
        .text {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .odd {
            color: $primary-blue;
          }
          .even {
            color: $primary-red;
          }
        }
      }
    }
  }

  #team {
    margin: 5rem 0 5rem;
    width: 100%;
    min-height: 668px;
    display: flex;
    justify-content: center;
    align-items: center;
    .team-container {
      width: 100%;
    }
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    table {
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
      width: 80%;
      border-collapse: collapse;
      border-radius: 12px;
      overflow: hidden;
      margin: 0 auto;
    }
    tr:nth-child(odd) {
      background: rgba(52, 151, 228, 0.1);
    }
    th {
      background: $primary-blue;
      color: $primary-white;
      font-family: "Lato", sans-serif;
      font-size: 1.2rem;
    }
    td,
    th {
      text-align: left;
      padding: 10px;
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: center;
    }
  }
}

.footer {
  background: #303841;
  color: #eee;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;

  .contact {
    width: 50%;
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: left;
    gap: 30px;
    .contact-item {
      width: 100%;
      display: grid;
      grid-template-columns: 10% 90%;
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
